.new-book-block{
    width: 1100px;
    padding-top: 40px;
    }
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .book{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 200px;
        align-items: flex-start;
        padding-left: 15px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    .price-block h4{
        margin: 0;
        font-family: "Slogan";
        white-space: nowrap;
        font-size: 20px;
        color: #f34a57;;
    }
    .photo-block img{
        width: 170px;
        height: 100%;
    }
    .photo-block{
        height: 60%;
    }
    .price-block{
        padding-left: 7px;
        padding-top: 8px;
    }
    
    @font-face{
        font-family: "Slogan";
        src: url("../fonts/TransformaSans_Trial-Regular.ttf") format("truetype"); 
        
      }
    
      .title{
        padding-left: 7px;
        padding-top: 10px;
        
      }
      .title .tittle-book{
        font-family: "Slogan";
        font-size: 18px;
        margin: 0;
        display: -webkit-box;
      -webkit-line-clamp: 2; /* Количество строк */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-decoration: none;
      color: black;
      }
      .title h4{
        font-family: "Slogan";
        color: rgb(124, 124, 124);
        margin: 0;
        font-size: 12px;
      }
      .buy{
        width: 50%;
        height: 30px;
        outline: none;
        border: 0;
        background-color: rgb(155, 196, 230);
        color: white;
        font-family: "Slogan";
        font-size: 10pt;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      .buy:hover{
        background-color: rgb(126, 161, 189);
      }
      .action-buttons-block-book{
        width: 100%;
        display: flex;
      }
      .add-bookmarks{
        border: 0;
        background-color: #ecf6fe;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 5px;
      }
      .add-bookmarks-icon{
        stroke: rgb(131, 167, 196);
        
      }
      .book-contain{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .new-book-link{
        text-decoration: none;
        color: black;
        font-family: "Slogan";
        font-size: 25px;
        font-weight: 600;
        transition-duration: 0.2s;
        padding-right: 15px;
      }
      .new-book-link:hover{
        color: #004dff;
      }
      .new-book-block-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .all-book{
        text-decoration: none;
        color: #004dff;
        font-family: "Slogan";
        padding-right: 15px;
      }
     
      .cl-checkbox {
        position: relative;
        display: inline-block;
       }
       
       /* Input */
       .cl-checkbox > input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: -1;
        position: absolute;
        left: -10px;
        top: -8px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: none;
        outline: none;
        opacity: 0;
        transform: scale(1);
        pointer-events: none;
        transition: opacity 0.3s, transform 0.2s;
       }
       
       /* Span */
       .cl-checkbox > span {
        display: inline-block;
        width: fit-content;
        cursor: pointer;
       }
       
       /* Box */
       .cl-checkbox > span::before {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        margin: 3px 11px 3px 1px;
        border: solid 2px;
        /* Safari */
        border-color: rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        width: 18px;
        height: 18px;
        vertical-align: top;
        transition: border-color 0.2s, background-color 0.2s;
       }
       
       /* Checkmark */
       .cl-checkbox > span::after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 1px;
        width: 10px;
        height: 5px;
        border: solid 2px transparent;
        border-right: none;
        border-top: none;
        transform: translate(3px, 4px) rotate(-45deg);
       }
       
       /* Checked, Indeterminate */
       .cl-checkbox > input:checked,
       .cl-checkbox > input:indeterminate {
        background-color: #018786;
       }
       
       .cl-checkbox > input:checked + span::before,
       .cl-checkbox > input:indeterminate + span::before {
        border-color: #018786;
        background-color: #018786;
       }
       
       .cl-checkbox > input:checked + span::after,
       .cl-checkbox > input:indeterminate + span::after {
        border-color: #fff;
       }
       
       .cl-checkbox > input:indeterminate + span::after {
        border-left: none;
        transform: translate(4px, 3px);
       }
       
       /* Hover, Focus */
       .cl-checkbox:hover > input {
        opacity: 0.04;
       }
       
       .cl-checkbox > input:focus {
        opacity: 0.12;
       }
       
       .cl-checkbox:hover > input:focus {
        opacity: 0.16;
       }
       
       /* Active */
       .cl-checkbox > input:active {
        opacity: 1;
        transform: scale(0);
        transition: transform 0s, opacity 0s;
       }
       
       .cl-checkbox > input:active + span::before {
        border-color: #85b8b7;
       }
       
       .cl-checkbox > input:checked:active + span::before {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.6);
       }
       
       /* Disabled */
       .cl-checkbox > input:disabled {
        opacity: 0;
       }
       
       .cl-checkbox > input:disabled + span {
        color: rgba(0, 0, 0, 0.38);
        cursor: initial;
       }
       
       .cl-checkbox > input:disabled + span::before {
        border-color: currentColor;
       }
       
       .cl-checkbox > input:checked:disabled + span::before,
       .cl-checkbox > input:indeterminate:disabled + span::before {
        border-color: transparent;
        background-color: currentColor;
       }
.checkbox-block{
    display: flex;
    width: 30%;
}
.name-checkbox h4{
    font-family: "Slogan";
    font-weight: 500;
    margin: 0;
}
.filter-container{
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  flex-direction: column;
}
.filter-form{
  display: flex;
  width: 800px;
  height: auto;
  flex-wrap: wrap;
}
.filter-container h3{
  font-family: "Slogan";
}
.filter-container h4{
  font-family: "Slogan";
  font-size: 14px;
}
.select {
  display: block;
  max-width: 215px;
  width: 100%;
  position: relative;
}

.new-select {
  position: relative;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: #12b223;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  background: url('path-to-image') no-repeat right center / cover;
  opacity: 0.6;

  -webkit-transition: all .27s ease-in-out;
      -o-transition: all .27s ease-in-out;
          transition: all .27s ease-in-out;

  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-form-filter {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-left: 200px;
 }
 
 .btn-form-filter:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
 }
 
 .btn-form-filter:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
 }
 
 .btn-form-filter:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
 }
 
 .btn-form-filter:focus {
  outline: 1px transparent;
 }
 
 .btn-form-filter:before {
  display: none;
 }
 
 .btn-form-filter:-webkit-details-marker {
  display: none;
 }
 .succes{
  background-color: rgb(190, 248, 190);
  width: 200px;
  height: 35px;
  border: 2px rgb(0, 87, 0) solid;
 }