.left-column{
    display: flex;
    flex-direction: column;
    border: 2px rgb(158, 158, 158) solid;
    border-radius: 5px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    height: 300px;
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.active-btn-profile{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Slogan";
    font-weight: 600;
    letter-spacing: 2px;
    transition-duration: 0.2s;
    font-size: 20px;
}
.active-btn-profile:hover{
    color: rgb(109, 148, 180);
}
@font-face{
    font-family: "Slogan";
    src: url("../fonts/TransformaSans_Trial-Regular.ttf") format("truetype"); 
    
  }
  .profile-btn-contain{
    padding-top: 20px;
  }
  .contain-column{
    display: grid;
    gap: 72px;
    grid-template-columns: 372px calc(100% - 444px);
  }
  .group-input-form {
    position: relative;
    margin-top: 25px;
   }
   
   .input-form {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input-form:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input-form:focus ~ label, .input-form:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input-form:focus ~ .bar:before, .input-form:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input-form:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }
   .login{
    font-family: "Slogan";
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
   }
   .register{
    font-family: "Slogan";
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   #bottone5 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-left: 40px;
    margin-top: 30px;
   }
   
   #bottone5:hover,
   #bottone5:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
   }
   
   #bottone5:hover {
    transform: translateY(-1px);
   }
   
   #bottone5:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
   }
   .login-link{
    text-decoration: none;
    font-family: "Slogan";
    color: #8d98c5;
    font-size: 20px;
    font-weight: 600;
   }
   .status{
    width: auto;
    font-size: 13px;
   }
   .input-form.error {
    border-color: red;
  }
  .error-block{
    font-size: 14px;
  }
  .profile-title{
    font-family: "Slogan";
    font-size: 21px;
  }
  .personal-data a{
    text-decoration: none;
    font-family: "Slogan";
    font-size: 20px;
    color: black;
    transition-duration: 0.2s;
  }
  .personal-data a:hover{
    color: #84a1d8;
  }
  .data-from-bd h3{
    font-family: "Slogan";
    color: black;
    
  }
  .data-from-bd p{
    font-family: "Slogan";
    color: black;
    
  }
  .bookmarks-from-bd h3{
    font-family: "Slogan";
    font-size: 16px;
    color: #747474;
  }
  .order-from-bd h3{
    font-family: "Slogan";
    font-size: 16px;
    color: #747474;
  }
  .profile-info-container-personal-date{
    display: none;
  }
  #personalData{
    display: none;
  }
  #personalInfo{
    display: none;
  }
  .bookmarks-profile{
    border: 2px rgb(180, 180, 180) solid;
    border-radius: 4px;
    width: 50%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }